<html>
{% include 'head.html' %}
	<body>

		<header>
			{% include 'nav.html.twig' %}
            </header>

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des articles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Image</th>
                <th>Date de publication</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.datePublication ? article.datePublication|date('Y-m-d') : '' }}</td>
                <td>{{ article.auteur }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
                    <a class="btn btn-info" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">C'est vide ici !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('article_new') }}">Ajouter un article +</a>
    </div>
{% endblock %}


</body>
</html>