<html>
{% include 'head.html' %}
	<body>

		<header>
			{% include 'nav.html.twig' %}
            </header>

{% block title %}{% endblock %}

{% block body %}
<div class="container py-4">
    <h1>Liste des articles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Image</th>
                <th>Date de publication</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.contenu }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.datePublication ? article.datePublication|date('Y-m-d') : '' }}</td>
                <td>{{ article.auteur.prenom }}</td>
                
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('article_show', {'id': article.id}) }}">Voir</a>
                     {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-info btn-sm" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">C'est vide ici !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-success btn-sm" href="{{ path('article_new') }}">Ajouter un article +</a>
    {% endif %}
    
{% endblock %}


  



</div>
</body>
</html>