<html>
	{% include 'head.html' %}
	<body>

		<header>
			{% include 'nav.html.twig' %}

			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

		</header>
		{% block title %}{% endblock %}

		{% block body %}


			<h1 class="text-center py-4">{{article.titre}}
				<div>
					{% if is_granted('ROLE_USER') %}
						{% for favoris in article.favoris %}
							{% if favoris.id is same as app.user.id %}
								<a href="{{ path('delete_favoris', {id: article.id}) }}" <i class="fas fa-heart" style="color:red"></i></a>
							{% else %}
								<a href="{{ path('new_favoris', {id: article.id}) }}" <i class="far fa-heart" style="color:red"></i></a>
							{% endif %}
						{% else %}
							<a href="{{ path('new_favoris', {id: article.id}) }}" <i class="far fa-heart" style="color:red"></i></a>
						{% endfor %}

					{% else %}
						<i class="far fa-heart" style="color:red"></i>
					{% endif %}


				</div>
			</h1>
			<div class="container">
				<img src="{{ asset(article.image) }}" width="100%" height="800">

				<p class="text-center py-4">{{article.contenu|raw}}</p>>
				<p class="text-center py-4">Publié le
					{{article.datePublication ? article.datePublication|date('d-m-Y')}}
					par
					{{ article.auteur.prenom }}</p>


				<h1 class="text-center py-4">Tous les commentaires</h1>


				{% if app.user %}
					<h2 class="text-center py-4">Ajouter un commentaire</h2>
					<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://91xwriter.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						{% else %}
							<p class="text-center py-4">Vous devez vous
								<a href="{{ path('app_login') }}">connecter</a>
								pour laisser un commentaire</p>
					{% endif %}
				</div>

				<div class="container py-4">
					<a class="btn btn-secondary btn-sm" href="{{ path('article') }}">Retourner à la liste</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-info btn-sm" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
						{{ include('article/_delete_form.html.twig') }}

						<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=61deb4ad5b6879001a598b39&product=inline-share-buttons' async='async'></script>
						<div class="sharethis-inline-share-buttons"></div>
						<script id="dsq-count-scr" src="//91xwriter.disqus.com/count.js" async></script>


					{% endif %}
				</div>


			{% endblock %}
		</body>
	</body>
</html>