<html>
{% include 'head.html' %}
	<body>

		<header>
			{% include 'nav.html.twig' %}
            </header>
{% block title %}{% endblock %}

{% block body %}
    <h1>Article</h1>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ article.contenu }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ article.image }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ article.datePublication ? article.datePublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ article.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('article') }}">Retourner à la liste</a>

    <a class="btn btn-info" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>

    {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}


</body>
</html>
