{% extends 'base.html.twig' %}

{% block title %}Z5600{% endblock %}

{% block body %}
    <h1>Z5600</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ z5600.id }}</td>
            </tr>
            <tr>
                <th>Rames</th>
                <td>{{ z5600.Rames }}</td>
            </tr>
            <tr>
                <th>Motrices</th>
                <td>{{ z5600.motrices }}</td>
            </tr>
            <tr>
                <th>Mise_en_service</th>
                <td>{{ z5600.miseEnService ? z5600.miseEnService|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Livree</th>
                <td>{{ z5600.livree }}</td>
            </tr>
            <tr>
                <th>Nombre_de_caisses</th>
                <td>{{ z5600.nombreDeCaisses }}</td>
            </tr>
            <tr>
                <th>Stf</th>
                <td>{{ z5600.stf }}</td>
            </tr>
            <tr>
                <th>Radiation</th>
                <td>{{ z5600.radiation ? z5600.radiation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Equipements_interieurs</th>
                <td>{{ z5600.equipementsInterieurs }}</td>
            </tr>
            <tr>
                <th>Lignes</th>
                <td>{{ z5600.lignes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('z5600_controller2_index') }}">back to list</a>

    <a href="{{ path('z5600_controller2_edit', {'id': z5600.id}) }}">edit</a>

    {{ include('z5600_controller2/_delete_form.html.twig') }}
{% endblock %}
