{% include 'head.html' %}

{% block title %}{% endblock %}

{% include 'nav.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    

    {{ form_start(registrationForm) }}
    <div class="container pb-modalreglog-container">
    <div class="row">
    <div class="col-xs-12 col-md-4 offset-md-4">
	<h1 class="h3 mb-3 font-weight-normal">S'inscrire</h1>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.Cgu) }}

        <button type="submit" class="btn btn-warning">Register</button>
        </div>
        <div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
