{% extends 'gabarit_liste.html.twig' %}

{% block thead %}
	<th>Prénom</th>
	<th>Nom</th>
	<th>Date de naissance</th>
	<th>Matière</th>
{% endblock %}

{% block tbody %}
	{% for prof in profs %}
		<tr>
			<td>{{ prof.prenom }}</td>
			<td>{{ prof.nom }}</td>
			<td>{{ prof.dateNaissance.format('d/m/Y') }}</td>
			<td>{{ prof.matiere.nom }}</td>
			<td>
				{% if prof.clasesPrincipales is empty %}
					<a class="btn btn-danger" href="{{ path('delete_prof', {id: prof.id}) }}" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?')">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
{% endblock %}