<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    
     </head>
    <body>

    <header>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="{{ path('home') }}"> 91xwriter - Alexandre Diakité</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <button class="btn btn-dark pb-modalreglog-submit" data-toggle="modal"
                            data-target="#exampleModal">S'inscrire</button>
                        </button>

                    </li>

                    <li class="nav-item">
                        <button class="btn btn-warning pb-modalreglog-submit" data-toggle="modal" data-target="#myModal">Connexion</button>

                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('realisation') }}">Mes réalisations</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Les trains</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('z5600') }}">Z5600</a>
                            <a class="dropdown-item" href="#">Z8800</a>
                            <a class="dropdown-item" href="#">Z20500</a>
                            <a class="dropdown-item" href="#">Z22500</a>
                            <a class="dropdown-item" href="#">Z20900</a>

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('faq') }}">FAQ</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Me contacter</a>
                    </li>

                    
                </ul>

            </div>

        </nav>
<div class="jumbotron">
            <h1 class="display-4">Les Z5600</h1>
            <img src="{{ asset('/z5600_3.jpeg') }}" class="my-6 " style="width: 500px;" alt="Z5600 à Juvisy - RER C"> 
            
        
        <div class="container">
        <hr class="my-4">
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nobis at omnis molestiae doloribus eos reprehenderit laudantium qui tempore a. Earum amet velit et adipisci eos, animi voluptatum suscipit dolore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et totam est velit dolores saepe dignissimos eligendi provident similique, voluptate temporibus. Dicta debitis, vitae quos cum beatae cumque veritatis quae?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis minus illum in aspernatur, ex nisi at perspiciatis voluptatibus debitis eius voluptatem accusamus, unde, tempora nemo aut! Quos placeat minima quam.
        </article>
        </div>
       
    </div>
        </header>
        


<main>
{% block body %}
    <h1>Etat du matériel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rames</th>
                <th>Motrices</th>
                <th>Mise en service</th>
                <th>Livree</th>
                <th>Nombre de caisses</th>
                <th>Stf</th>
                <th>Radiation</th>
                <th>Equipements interieurs</th>
                <th>Lignes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for z5600 in z5600s %}
            <tr>
                <td>{{ z5600.id }}</td>
                <td>{{ z5600.Rames }}</td>
                <td>{{ z5600.motrices }}</td>
                <td>{{ z5600.miseEnService ? z5600.miseEnService|date('d-m-Y') : '' }}</td>
                <td>{{ z5600.livree }}</td>
                <td>{{ z5600.nombreDeCaisses }}</td>
                <td>{{ z5600.stf }}</td>
                <td>{{ z5600.radiation ? z5600.radiation|date('d-m-Y') : 'range(1980, 2026)' }}</td>
                <td>{{ z5600.equipementsInterieurs }}</td>
                <td>{{ z5600.lignes }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('z5600_show', {'id': z5600.id}) }}">Voir</a>
                    <a class="btn btn-primary" href="{{ path('z5600_edit', {'id': z5600.id}) }}">Editer</a>
                    <button type="button" class="btn btn-dark">❤</button>
                </td>
            </tr>
        {% else %}
            <div class="notfound"
            <tr>
            
                <td colspan="11">Aucune rame 😢</td>
            
            </tr>
            </div>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('z5600_new') }}">Ajouter une rame +</a>
{% endblock %}
</main>
<footer class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h5 class="py-2">Plan du site</h5>
                    <ul>
                        <li>
                            <a href="{{ path('realisation') }}">Mes réalisations</a>
                        </li>
                        <li>
                            <a href="{{ path('contact') }}">Me contacter</a>
                        </li>

                    </ul>

                </div>

                <div class="col-2 offset-8">
                    <h5>Réseaux sociaux</h5>
                    <a href="https://www.instagram.com/91xwriter/"> <img src="{{ asset('/insta3.png') }}"
                            alt="logo Instagram"></a>
                    <a href="https://www.instagram.com/91xwriter/"> <img src="{{ asset('/insta3.png') }}"
                            alt="logo Instagram"></a>
                    <a href="https://www.instagram.com/91xwriter/"> <img src="{{ asset('/insta3.png') }}"
                            alt="logo Instagram"></a>

                </div>

            </div>
        </div>
        </footer>
        <!-- Espace pour les membres -->

<div class="container pb-modalreglog-container"><div class="row"><div class="col-xs-12 col-md-4 offset-md-4">

<div
	class="input-group pb-modalreglog-input-group"><!-- <button class="btn btn-warning pb-modalreglog-submit" data-toggle="modal" data-target="#exampleModal">S'inscrire</button> -->

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<h4 class="col-xs-12 col-md-4 offset-md-4">S'inscrire</h4>
			<div class="modal-body">
				<form action="#" method="POST">
					<div class="form-group">
						<label for="email">E-mail:
						</label>
						<div class="input-group pb-modalreglog-input-group">
							<input type="email" class="form-control" id="email" placeholder="Saisissez votre adresse e-mail !">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-user"></span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="password">Mot-de-passe:
						</label>
						<div class="input-group pb-modalreglog-input-group">
							<input type="password" class="form-control" id="pws" placeholder="Saisissez un mot-de-passe fort !">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-lock"></span>
							</span>
						</div>

					</div>
					<div class="form-group">
						<label for="password">Confirmez votre mot-de-passe:
						</label>
						<div class="input-group pb-modalreglog-input-group">
							<input type="password" class="form-control" id="pws" placeholder="Confirmez votre mot-de-passe fort !">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-lock"></span>
							</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-warning">S'inscrire</button>
			</div>
		</div>
	</div>
</div>





<div class="container pb-modalreglog-container">
	<div class="row">
		<div class="col-xs-12 col-md-4 offset-md-4">

			<div
				class="input-group pb-modalreglog-input-group"><!-- <button class="btn btn-warning pb-modalreglog-submit" data-toggle="modal" data-target="#myModal">Connexion</button> -->

			</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

						</div>
						<h4 class="col-xs-12 col-md-4 offset-md-4">Connexion</h4>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="email">E-mail:
									</label>
									<div class="input-group pb-modalreglog-input-group">
										<input type="email" class="form-control" id="email" placeholder="Saisissez votre adresse e-mail !">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-user"></span>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label for="password">Mot-de-passe:
									</label>
									<div class="input-group pb-modalreglog-input-group">
										<input type="password" class="form-control" id="pws" placeholder="Saisissez votre mot-de-passe !">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</span>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							<button type="button" class="btn btn-warning">Connexion</button>
						</div>
					</div>
				</div>
			</div>
            
        </body>

        

</html>








