{% include 'head.html' %}



    <body>

    <header>
{% include 'nav.html.twig' %}
<div class="jumbotron">
            <h1 class="display-4">Les Z5600</h1>
            <img src="{{ asset('/z5600_3.jpeg') }}" class="my-6 " style="width: 500px;" alt="Z5600 à Juvisy - RER C"> 
            
        
        <div class="container">
        <hr class="my-4">
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nobis at omnis molestiae doloribus eos reprehenderit laudantium qui tempore a. Earum amet velit et adipisci eos, animi voluptatum suscipit dolore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et totam est velit dolores saepe dignissimos eligendi provident similique, voluptate temporibus. Dicta debitis, vitae quos cum beatae cumque veritatis quae?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis minus illum in aspernatur, ex nisi at perspiciatis voluptatibus debitis eius voluptatem accusamus, unde, tempora nemo aut! Quos placeat minima quam.
        </article>
        </div>
       
    </div>
        </header>
        


<main>
{% block body %}
    <h1>Etat du matériel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rames</th>
                <th>Motrices</th>
                <th>Mise en service</th>
                <th>Livree</th>
                <th>Nombre de caisses</th>
                <th>Stf</th>
                <th>Radiation</th>
                <th>Equipements interieurs</th>
                <th>Lignes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for z5600 in z5600s %}
            <tr>
                <td>{{ z5600.id }}</td>
                <td>{{ z5600.Rames }}</td>
                <td>{{ z5600.motrices }}</td>
                <td>{{ z5600.miseEnService ? z5600.miseEnService|date('d-m-Y') : '' }}</td>
                <td>{{ z5600.livree }}</td>
                <td>{{ z5600.nombreDeCaisses }}</td>
                <td>{{ z5600.stf }}</td>
                <td>{{ z5600.radiation ? z5600.radiation|date('d-m-Y') : 'range(1980, 2026)' }}</td>
                <td>{{ z5600.equipementsInterieurs }}</td>
                <td>{{ z5600.lignes }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('z5600_show', {'id': z5600.id}) }}">Voir</a>
                     {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-info" href="{{ path('z5600_edit', {'id': z5600.id}) }}">Editer</a>
                    {% endif %}
                    <button type="button" class="btn btn-dark">❤</button>
                </td>
            </tr>
        {% else %}
            <div class="notfound"
            <tr>
            
                <td colspan="11">Aucune rame 😢</td>
            
            </tr>
            </div>
        {% endfor %}
        </tbody>
    </table>
 {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-success" href="{{ path('z5600_new') }}">Ajouter une rame +</a>
    {% endif %}
{% endblock %}
</main>
{% include 'footer.html' %}
        
        
        </body>

        

</html>








