
{% include 'head.html' %}



    <body>

    <header>
{% include 'nav.html.twig' %}
<div class="jumbotron">
            <h1 class="display-4">Les RERNG</h1>
            <img src="{{ asset('/rerng_juvisy.jpg') }}" class="my-6 " style="width: 500px;" alt="RERNG faisant une pause à Juvisy"> 
            
        
        <div class="container">
        <hr class="my-4">
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nobis at omnis molestiae doloribus eos reprehenderit laudantium qui tempore a. Earum amet velit et adipisci eos, animi voluptatum suscipit dolore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et totam est velit dolores saepe dignissimos eligendi provident similique, voluptate temporibus. Dicta debitis, vitae quos cum beatae cumque veritatis quae?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis minus illum in aspernatur, ex nisi at perspiciatis voluptatibus debitis eius voluptatem accusamus, unde, tempora nemo aut! Quos placeat minima quam.
        </article>
        </div>
       
    </div>
        </header>

<main>

{% block body %}
    <h1>Etat du matériel</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rames</th>
                <th>Motrices</th>
                <th>Mise_en_service</th>
                <th>Livree</th>
                <th>Nombre_de_caisses</th>
                <th>Stf</th>
                <th>Radiation</th>
                <th>Equipements_interieurs</th>
                <th>Lignes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for r_e_r_n_g in r_e_r_n_gs %}
            <tr>
                <td>{{ r_e_r_n_g.id }}</td>
                <td>{{ r_e_r_n_g.Rames }}</td>
                <td>{{ r_e_r_n_g.motrices }}</td>
                <td>{{ r_e_r_n_g.miseEnService ? r_e_r_n_g.miseEnService|date('d-m-Y') : '' }}</td>
                <td>{{ r_e_r_n_g.livree }}</td>
                <td>{{ r_e_r_n_g.nombreDeCaisses }}</td>
                <td>{{ r_e_r_n_g.stf }}</td>
                <td>{{ r_e_r_n_g.radiation ? r_e_r_n_g.radiation|date('d-m-Y') : '' }}</td>
                <td>{{ r_e_r_n_g.equipementsInterieurs }}</td>
                <td>{{ r_e_r_n_g.lignes }}</td>
                <td>
    

                    <a class="btn btn-warning btn-sm" href="{{ path('rerng_show', {'id': r_e_r_n_g.id}) }}">Voir</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-info" href="{{ path('rerng_edit', {'id': r_e_r_n_g.id}) }}">Editer</a>
                    {% endif %}
                    <button type="button" class="btn btn-dark btn-sm">❤</button>
                </td>
            </tr>
        {% else %}
            <div class="notfound"
            <tr>
            
                <td colspan="11">Aucune rame 😢</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-success" href="{{ path('rerng_new') }}">Ajouter une rame +</a>
    </main>
    {% endif %}
{% endblock %}


{% include 'footer.html' %}
        
        

        </body>
        </html>
