{% extends 'base.html.twig' %}

{% block title %}Liste des {{ entityName }} | {{ parent() }}{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
<h1>Liste des {{ entityName }}</h1>

<table id="liste" class="hover stripe">
    <thead>
        <tr>
            {% block thead %}{% endblock %}
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% block tbody %}{% endblock %}
    </tbody>
</table>
{% endblock %}

{% block js %}
{{ parent() }}
<script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#liste').DataTable({
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.2/i18n/fr_fr.json'
            }
        });
    });
</script>
{% endblock %}