<html>
{% include 'head.html' %}
    <body>

    <header>
{% include 'nav.html.twig' %}
        </header>
        
        <main>

                
            <section class="py-5" id="realisation">
            <h2 class="text-center">Mes réalisations</h2>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-4 md-6 py-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ asset('z5600_4.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                                    obcaecati, alias sunt nihil, itaque enim iure earum, autem laborum doloremque
                                    excepturi corporis velit libero ad blanditiis! Dolor corrupti reiciendis veritatis.
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 md-6 py-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ asset('z20500.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                                    obcaecati, alias sunt nihil, itaque enim iure earum, autem laborum doloremque
                                    excepturi corporis velit libero ad blanditiis! Dolor corrupti reiciendis veritatis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 md-6 py-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ asset('z5600_3.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                                    obcaecati, alias sunt nihil, itaque enim iure earum, autem laborum doloremque
                                    excepturi corporis velit libero ad blanditiis! Dolor corrupti reiciendis veritatis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 md-6 py-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ asset('z5600_2.jpg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                                    obcaecati, alias sunt nihil, itaque enim iure earum, autem laborum doloremque
                                    excepturi corporis velit libero ad blanditiis! Dolor corrupti reiciendis veritatis.
                                </p>
                            </div>
                            
                </div>

                </div>
                <div class="col-lg-4 md-6 py-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ asset('z5600.jpg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                                    obcaecati, alias sunt nihil, itaque enim iure earum, autem laborum doloremque
                                    excepturi corporis velit libero ad blanditiis! Dolor corrupti reiciendis veritatis.
                                </p>
                            </div>
                </div>

                </div>
                <div class="col-lg-4 md-6 py-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ asset('z5600_4.jpeg') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                                    obcaecati, alias sunt nihil, itaque enim iure earum, autem laborum doloremque
                                    excepturi corporis velit libero ad blanditiis! Dolor corrupti reiciendis veritatis.
                                </p>
                            </div>
                </div>







    </main>

        
        {% include 'footer.html' %}
        
                            

        
    </body>
    
</html>


