<html>
{% include 'head.html' %}
	<body>

		<header>
			{% include 'nav.html.twig' %}
            </header>

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>Mes réalisations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisation.id }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ realisation.auteur }}</td>
            </tr>
            <tr>
                <th>Nom de l'image</th>
                <td>{{ realisation.nomImage }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ realisation.datePublication ? realisation.datePublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ realisation.descriptionImage }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ realisation.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('realisation') }}">Retourner à la liste</a>

    <a class="btn btn-info" href="{{ path('realisation_edit', {'id': realisation.id}) }}">Editer</a>

    {{ include('realisation/_delete_form.html.twig') }}
    </div>
{% endblock %}
