<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    
     </head>
    <body>

    <header>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="{{ path('home') }}"> 91xwriter - Alexandre Diakité</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <button class="btn btn-dark pb-modalreglog-submit" data-toggle="modal"
                            data-target="#exampleModal">S'inscrire</button>
                        </button>

                    </li>

                    <li class="nav-item">
                        <button class="btn btn-warning pb-modalreglog-submit" data-toggle="modal" data-target="#myModal">Connexion</button>

                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="#realisation">Mes réalisations</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Les trains</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="z5600.html">Z5600</a>
                            <a class="dropdown-item" href="#">Z8800</a>
                            <a class="dropdown-item" href="#">Z20500</a>
                            <a class="dropdown-item" href="#">Z22500</a>
                            <a class="dropdown-item" href="#">Z20900</a>

                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">FAQ</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#mecontacter">Me contacter</a>
                    </li>

                    
                </ul>

            </div>

        </nav>

        <div class="jumbotron">
            <img src="{{ asset('/logo.PNG') }}"  class="rounded-circle shadow p-3 mb-5 bg-white" alt="logo 91xwriter">
            <h1 class="display-4">91xwriter - Alexandre Diakité</h1>
            <p class="lead">Bonjour, bienvenue sur la version beta de mon site internet.</p>
            <hr class="my-4">
            <p>
                Je suis Alexandre Diakité, photographe amateur, passionné par les transports en commun. <br>
                J'ai commencé à partager mes photos sur Instagram en 2019 pour donner une autre vision des transports
                aux gens, <br>
                ce site internet reflète mon évolution dans les prises de photos depuis mes débuts et sera présenter
                pour l'examen
                final de ma formation de Développeur Web.

            </p>
            <a class="btn btn-warning btn-lg" href="#mecontacter" role="button">Me contacter</a>
        </div>
    
    <!-- Carousel -->
    <main>

        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('/the_boxer.jpg') }}" class="d-block w-100" alt="sample">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('/the_boxer.jpg') }}" class="d-block w-100" alt="sample">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('/the_boxer.jpg') }}" class="d-block w-100" alt="sample">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précedent</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>



    </header>
        {% block body %}{% endblock %}
        
    </body>
</html>
