{% extends 'gabarit_liste.html.twig' %}

{% block thead %}
	<th>Prénom</th>
	<th>Nom</th>
	<th>Date de naissance</th>
	<th>Classe</th>
{% endblock %}

{% block tbody %}
	{% for eleve in eleves %}
		<tr>
			<td>{{ eleve.prenom }}</td>
			<td>{{ eleve.nom }}</td>
			<td>{{ eleve.dateNaissance.format('d/m/Y') }}</td>
			<td>{{ eleve.classe.nom }}</td>
			<td>
				<a class="btn btn-primary mr-2" href="{{ path('details_eleve', {id: eleve.id}) }}" title="Détails">
					<i class="fa fa-file-text" aria-hidden="true"></i>
				</a>

				<a class="btn btn-danger" href="{{ path('delete_eleve', {id: eleve.id}) }}" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?')">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}

{% block body %}
	{% if formulaire is not empty %}
		{{ form(formulaire) }}
	{% endif %}

	{{ parent() }}
{% endblock %}